<%- include("partials/header.ejs") %>

<div id="container">
    <h1>Do Zrobienia:</h1>
    <input type="text" placeholder="Dodaj nową rzecz" maxlength="30">
    <ul>
        <!-- <li>Rzeczy 1</li>
        <li>Rzeczy 2</li>
        <li>Rzeczy 3</li> -->
    </ul>
</div>

<%- include("partials/footer.ejs") %>