body {
  font-family: 'Lato', serif;
  font-weight: 700;
  background: linear-gradient(to right, #457fca, #5691c8);
}

h2 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0;
  background: rgb(255, 205, 85);
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
} 

li {
  background: rgb(255, 215, 100);
  line-height: 40px;
  border: rgba(0, 0, 0, 0)
}

li:nth-child(2n) {
  background: rgb(255, 195, 90);
  
}


li:hover {
  outline: 1px solid #3c1053;
  outline-style: solid;
}

form#inputForm input {
  font-size: 18px;
  background: rgb(255, 195, 90);
  width: 100%;
  padding: 15px 15px 15px 15px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
}

form#inputForm input::placeholder {
  color: rgb(110, 110, 110);
}

form#inputForm input:focus{
  background: lightyellow;
  outline: 2px solid #3c1053;
  outline-style: solid;
}

.completed {
  color: rgb(120, 120, 120);
  text-decoration: line-through;
}

.editForm {
  display: none;
}

.editForm>span {
  padding-left: 2%; 
  padding-right: 2%;
}

.checkForm, .deleteForm {
  display: inline;
}

.deleteForm {
  float: right;
}

.deleteButton {
  background: red;
  text-align: center;
  color: white;
  width: 0px;
  height: 40px;
  float: right;
  border: none;
  transition: 0.2s linear;
  opacity: 0;
  outline: 1px solid #3c1053;
}

.editButton {
  background: #5691c8;
  text-align: center;
  color: white;
  width: 0px;
  height: 40px;
  float: right;
  border: none;
  transition: 0.2s linear;
  opacity: 0;
  outline: 1px solid #3c1053;
  margin-right: 7px;
}

.deleteButton:hover, .editButton:hover {
  outline: 2px solid #3c1053;
}

li:hover .deleteButton, li:hover .editButton {
  width: 40px;
  opacity: 1;
}

.checkButton {
  border: none;
  background: none;
  outline: none;
}

#container {
  width: 330px;
  margin: 10% auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}